@model Sistema_MVC_Web2.Models.Criterio
@{

    List<Sistema_MVC_Web2.Models.Modelo> modelo = ViewBag.Modelo;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Criterio/Index">Criterio</a>
        </li>
        <li class="breadcrumb-item active">@(Model.criterio_id > 0 ? Model.descripcion : "Nuevo Registro")</li>

    </ol>
</nav>
<div class="card">
    <h5 class="card-header">Agregar / Editar Criterio</h5>
    <div class="card-body">
        @using (Html.BeginForm("Guardar", "Criterio", FormMethod.Post, new { id = "frm-criterio" }))
        {
            @Html.HiddenFor(x => x.criterio_id)
            <div class="panel panel-default">
                <div class="paneñ-heading">Informacion del Criterio</div>
                <div class="panel-body">

                    <div class="form-group">
                        @Html.Label("id:")
                        @Html.TextBoxFor(x => x.criterio_id, new { @class = "form-control", disabled = true })
                    </div>
                    <div class="form-group">
                        @Html.Label("Modelo:")
                        <select name="modelo_id" class="form-control">
                            <option @(Model.modelo_id.Equals("") ? "selected" : "") value="">-Seleccione-</option>
                            @foreach (var p in modelo)
                            {
                                <option @(Model.modelo_id.Equals(p.modelo_id) ? "selected" : "") value="@p.modelo_id"> @p.nombre</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(x => x.modelo_id, null, new { @class = "label label-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Nombre en Esapñol:")
                        @Html.TextBoxFor(x => x.nombre_spanish, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.nombre_spanish, null, new { @class = "label label-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Nombre en Ingles:")
                        @Html.TextBoxFor(x => x.nombre_english, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.nombre_english, null, new { @class = "label label-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Url Criterio:")
                        @Html.TextBoxFor(x => x.urlcriterio, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.urlcriterio, null, new { @class = "label label-danger" })
                    </div>

                    <div class="form-group">
                        @Html.Label("Descripcion:")
                        @Html.TextBoxFor(x => x.descripcion, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.descripcion, null, new { @class = "label label-danger" })
                    </div>

                    <div class="form-group">
                        @Html.Label("Estado:")
                        <br />
                        @Html.RadioButtonFor(x => x.estado, "A")<span> Activo</span>
                        @Html.RadioButtonFor(x => x.estado, "I")<span> Inactivo</span>
                        @Html.ValidationMessageFor(x => x.estado, null, new { @class = "label label-danger" })
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Grabar</button>
                <a href="~/Criterio" class="btn btn-danger">Cancelar</a>
            </div>
        }
    </div>
</div>

