@model List<Sistema_MVC_Web2.Models.Criterio>
@{
    ViewBag.Title = "Index";
}

<div class="card">
    <h5 class="card-header">Lista de Criterio</h5>
    <div class="card-body">
        <div class="text-right">
            <a href="~/Criterio/AgregarEditar/" class="btn btn-primary text-right">
                Nuevo registro
            </a>
        </div>
        <br />
        <table id="example" class="table table-hover">
            <thead>
                <tr>
                    <th style="width:50px">ID  </th>
                    <th style="width:100px">Modelo  </th>
                    <th style="width:70px">nombre Español  </th>
                    <th style="width:80px">Nombre Ingles  </th>
                    @*<th style="width:80px">URL Criterio  </th>*@
                    <th style="width:200px">Descripcion  </th>
                    <th style="width:30px">Estado  </th>
                    <th style="width:300px">Acciones  </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var u in Model)
                {
                    <tr>
                        <td>@(u.criterio_id)</td>
                        <td>@(u.Modelo.nombre)</td>
                        <td>@(u.nombre_spanish)</td>
                        <td>@(u.nombre_english)</td>
                        @*<th>@(u.urlcriterio)</th>*@
                        <td>@(u.descripcion)</td>
                        @if (u.estado == "A")
                        {
                            <td><span class="badge badge-success">Activo</span></td>
                        }
                        else
                        {
                            <td><span class="badge badge-danger">Inactivo</span></td>
                        }
                        <td style="align-content:center">
                            <a href="~/Criterio/Visualizar/@u.criterio_id" class="btn btn-xs btn-warning btn-sm">Visualizar</a>
                            <a href="~/Criterio/AgregarEditar/@u.criterio_id" class="btn btn-xs btn-primary btn-sm">Modificar</a>
                            <a href="~/Criterio/Eliminar/@u.criterio_id" class="btn btn-xs btn-danger btn-sm" onclick="return confirm('¿Esta Seguro de Eliminar.........?');">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
