@model Sistema_MVC_Web2.Models.Estudiante

@{
    ViewBag.Title = "AgregarEditar";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Estudiante/Index">Estudiante</a>
        </li>
        <li class="breadcrumb-item" active>

            @(Model.estudiante_id > 0 ? Model.nombre : "Nuevo Registro")
        </li>

    </ol>

</nav>

@using (Html.BeginForm("Guardar", "Estudiante", FormMethod.Post, new { id = "frm-estudiante" }))
{
    @Html.HiddenFor(x => x.estudiante_id)
    <div class="card">
        <h5 class="card-header">
            Agregar / Editar Docente
        </h5>
        <div class="card-body">
            <div class="form-group">
                @Html.Label("Id")
                @Html.TextBoxFor(x => x.estudiante_id, new { @class = "form-control", disabled = true })

            </div>
            <div class="form-group">
                @Html.Label("Codigo")
                @Html.TextBoxFor(x => x.estudiante_codigo, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.estudiante_codigo, null, new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.Label("Dni")
                @Html.TextBoxFor(x => x.dni, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.dni, null, new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.Label("Apellidos")
                @Html.TextBoxFor(x => x.apellido, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.apellido, null, new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.Label("Nombre")
                @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.nombre, null, new { @class = "text-danger" })

            </div>

            <div>
                @Html.Label("Sexo")
                <select name="sexo" class="form-control">
                    <option @(Model.estado == "" ? "Selected" : "") value="">-Seleccione-</option>
                    <option @(Model.estado == "M" ? "Selected" : "") value="M">Masculino</option>
                    <option @(Model.estado == "F" ? "Selected" : "") value="F">Femenino</option>
                </select>
            </div>

            <div class="form-group">
                @Html.Label("Email")
                @Html.TextBoxFor(x => x.email, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.email, null, new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.Label("Direccion")
                @Html.TextBoxFor(x => x.direccion, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.direccion, null, new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.Label("Celular")
                @Html.TextBoxFor(x => x.celular, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.celular, null, new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.Label("Foto")
                @Html.TextBoxFor(x => x.foto, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.foto, null, new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.Label("Estado")
                <select name="estado" class="form-control">
                    <option @(Model.estado == "" ? "Selected" : "") value="">-Seleccione-</option>
                    <option @(Model.estado == "A" ? "Selected" : "") value="A">Activo</option>
                    <option @(Model.estado == "I" ? "Selected" : "") value="I">Inactivo</option>
                </select>

            </div>
        </div>

    </div>
    <br />
    <div class="text-right">
        <button type="submit" class="btn btn-primary">Grabar</button>
        <a href="~/Docente" class="btn btn-danger">Cancelar</a>

    </div>

}