@model Sistema_MVC_Web2.Models.EvidenciaActividad
@{

    List<Sistema_MVC_Web2.Models.Actividad> actividad = ViewBag.Actividad;
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/EvidenciaActividad/Index">Evidencia Actividad</a>
        </li>
        <li class="breadcrumb-item" active>

            @(Model.evidenciaactividad_id > 0 ? Model.descripcion : "Nuevo Registro")
        </li>

    </ol>
</nav>

<div class="card">
    <h5 class="card-header">Agregar / Editar Evidencia Actividad</h5>
    <div class="card-body">
        @using (Html.BeginForm("Guardar", "EvidenciaActividad", FormMethod.Post, new { id = "frm-evidencia" }))
        {
            @Html.HiddenFor(x => x.evidenciaactividad_id)
            <div class="panel panel-default">
                <div class="panel-heading">
                    Informacion de Evidencia actividad
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.Label("Actividad:")
                        <select name="actividad_id" class="form-control">
                            <option @(Model.actividad_id.Equals("") ? "selected" : "") value="">-Seleccione-</option>
                            @foreach (var a in actividad)
                            {
                                <option @(Model.actividad_id.Equals(a.actividad_id) ? "selected" : "") value="@a.actividad_id"> @a.nombre</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(x => x.actividad_id, null, new { @class = "label label-danger" })
                    </div>


                    <div class="form-group">
                        @Html.Label(" Archivo:")
                        @Html.TextBoxFor(x => x.archivo, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label(" Tamaño:")
                        @Html.TextBoxFor(x => x.tamanio, new { @class = "form-control" })

                    </div>


                    <div class="form-group">
                        @Html.Label(" Tipo:")
                        @Html.TextBoxFor(x => x.tipo, new { @class = "form-control" })

                    </div>

                    <div class="form-group">
                        @Html.Label(" Descripcion:")
                        @Html.TextBoxFor(x => x.descripcion, new { @class = "form-control" })

                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="~/EvidenciaActividad" class="btn btn-danger">Cancelar</a>
                    </div>

                </div>
            </div>

        }
    </div>
</div>
