@model List<Sistema_MVC_Web2.Models.EvidenciaActividad>

@{
    ViewBag.Title = "Index";
}

<h2 class="card" text-center>Gestion de Evidencia Actividad</h2>

<br />
<div class="text-right">
    <a href="~/EvidenciaActividad/AgregarEditar/" class="btn btn-secondary text-right">Nuevo Registro</a>
</div>
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width:50px">Id</th>
            <th style="width:100px">Nombre Actividad</th>
            <th style="width:70px">Archivo</th>
            <th style="width:80px">Tamaño</th>
            <th style="width:80px">Tipo</th>
            <th style="width:200px">Descripcion</th>
            <th style="width:200px">Acciones</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <th>@(s.evidenciaactividad_id)</th>
                <th>@(s.Actividad.nombre)</th>
                <th>@(s.archivo)</th>
                <th>@(s.tamanio)</th>
                <th>@(s.tipo)</th>
                <th>@(s.descripcion)</th>
                <th style="text-align:center;">
                    <a href="~/EvidenciaActividad/Visualizar/@s.evidenciaactividad_id" class="btn btn-xs btn-warning">Visualizar</a>
                    <a href="~/EvidenciaActividad/AgregarEditar/@s.evidenciaactividad_id" class="btn btn-xs btn-primary">Modificar</a>
                    <a href="~/EvidenciaActividad/Eliminar/@s.evidenciaactividad_id" class="btn btn-xs btn-danger" onclick="return confirm('¿Estas seguro qu desea eliminar?');">Eliminar</a>
                </th>
            </tr>
        }
    </tbody>
</table>