@model Sistema_MVC_Web2.Models.Docente

@{
    ViewBag.Title = "AgregarEditar";
}

<h2 class="card" text-center>Agregar</h2>
<br />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Docente/Index">Docente</a>
        </li>
        <li class="breadcrumb-item" active>

            @(Model.docente_id > 0 ? Model.nombre : "Nuevo Registro")
        </li>

    </ol>

</nav>

@using (Html.BeginForm("Guardar", "Docente", FormMethod.Post, new { id = "frm-docente", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.docente_id)
    <div class="card">
        <div class="card-header">
            Informacion de Docente
        </div>
        <div class="card-body">
            <div class="form-group">
                @Html.Label("Id")
                @Html.TextBoxFor(x => x.docente_id, new { @class = "form-control", disabled = true })

            </div>
            <div class="form-group">
                @Html.Label("Codigo")
                @Html.TextBoxFor(x => x.docente_codigo, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.docente_codigo, null, new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.Label("Dni")
                @Html.TextBoxFor(x => x.dni, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.dni, null, new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.Label("Apellidos")
                @Html.TextBoxFor(x => x.apellido, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.apellido, null, new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.Label("Nombre")
                @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.nombre, null, new { @class = "text-danger" })

            </div>

            <div>
                @Html.Label("Sexo")
                <select name="sexo" class="form-control">
                    <option @(Model.estado == "" ? "Selected" : "") value="">-Seleccione-</option>
                    <option @(Model.estado == "M" ? "Selected" : "") value="M">Masculino</option>
                    <option @(Model.estado == "F" ? "Selected" : "") value="F">Femenino</option>
                </select>
            </div>

            <div class="form-group">
                @Html.Label("Email")
                @Html.TextBoxFor(x => x.email, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.email, null, new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.Label("Celular")
                @Html.TextBoxFor(x => x.celular, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.celular, null, new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.Label("Cargo")
                @Html.TextBoxFor(x => x.cargo, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.cargo, null, new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.Label("Condicion")
                @Html.TextBoxFor(x => x.condicion, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.condicion, null, new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.Label("Categoria")
                @Html.TextBoxFor(x => x.categoria, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.categoria, null, new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.Label("Foto")
                @if (Model.docente_id > 0)
                {
                    <img src="~/Imagenes/@Model.foto" height="80" width="80" />
                    @Html.HiddenFor(x => x.foto)
                }

                <input type="file" name="file" />

            </div>

            <div class="form-group">
                @Html.Label("Estado")
                <select name="estado" class="form-control">
                    <option @(Model.estado == "" ? "Selected" : "") value="">-Seleccione-</option>
                    <option @(Model.estado == "A" ? "Selected" : "") value="A">Activo</option>
                    <option @(Model.estado == "I" ? "Selected" : "") value="I">Inactivo</option>
                </select>

            </div>
        </div>

    </div>
    <br />
    <div class="text-right">
        <button type="submit" class="btn btn-primary">Grabar</button>
        <a href="~/Docente" class="btn btn-danger">Cancelar</a>

    </div>

}