@model List<Sistema_MVC_Web2.Models.Docente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="card" text-center>Gestion de Docentes</h2>

<br />
<div class="text-right">
    <a href="~/Docente/AgregarEditar/" class="btn btn-secondary text-right">Nuevo Registro</a>
</div>
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width:20px">Id</th>
            <th style="width:50px">Dni</th>
            <th style="width:100px">Apellidos</th>
            <th style="width:50px">Nombre</th>
            <th style="width:50px">Email</th>
            <th style="width:40px">Foto</th>
            <th style="width:20px">Estado</th>
            <th style="width:300px">Acciones</th>


        </tr>
    </thead>

    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <th>@(s.docente_id)</th>
                <th>@(s.dni)</th>
                <th>@(s.apellido)</th>
                <th>@(s.nombre)</th>
                <th>@(s.email)</th>
                <th><img src="~/Imagenes/@s.foto" width="50" height="50" /></th>
                <th>@(s.estado == "A" ? "Activo" : "Inactivo")</th>

                <th style="text-align:center;">
                    <a href="~/Docente/Visualizar/@s.docente_id" class="btn btn-xs btn-warning">Visualizar</a>
                    <a href="~/Docente/AgregarEditar/@s.docente_id" class="btn btn-xs btn-primary">Modificar</a>
                    <a href="~/Docente/Eliminar/@s.docente_id" class="btn btn-xs btn-danger" onclick="return confirm('¿Estas seguro qu desea eliminar?');">Eliminar</a>
                </th>

            </tr>

        }

    </tbody>
</table>

