@model Sistema_MVC_Web2.Models.Asignacion
@{
    List<Sistema_MVC_Web2.Models.Semestre> semestre = ViewBag.Semestre;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Asignacion/Index">Asignacion</a>
        </li>
        <li class="breadcrumb-item active">@(Model.asignacion_id > 0 ? Model.titulo : "Nuevo Registro")</li>

    </ol>
</nav>

<div class="card">
    <h5 class="card-header">Agregar / Editar Asignacion</h5>
    <div class="card-body">
        @using (Html.BeginForm("Guardar", "Asignacion", FormMethod.Post, new { id = "frm-asignacion" }))
        {
            @Html.HiddenFor(x => x.asignacion_id)
            <div class="panel panel-default">
                <div class="paneñ-heading">Informacion del Asignacion</div>
                <div class="panel-body">

                    <div class="form-group">
                        @Html.Label("id:")
                        @Html.TextBoxFor(x => x.asignacion_id, new { @class = "form-control", disabled = true })
                    </div>
                    <div class="form-group">
                        @Html.Label("Semestre:")
                        <select name="semestre_id" class="form-control">
                            <option @(Model.semestre_id.Equals("") ? "selected" : "") value="">-Seleccione-</option>
                            @foreach (var p in semestre)
                            {
                                <option @(Model.semestre_id.Equals(p.semestre_id) ? "selected" : "") value="@p.semestre_id"> @p.nombre</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(x => x.semestre_id, null, new { @class = "label label-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Titulo:")
                        @Html.TextBoxFor(x => x.titulo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.titulo, null, new { @class = "label label-danger" })
                    </div>

                    <div class="form-group col-md-4">
                        @Html.Label("Fecha de Registro")
                        <div>
                            <div class="cal-icon">
                                @Html.TextBoxFor(x => x.fecharegistro, new { @class = "form-control datetimepicker" })
                                @Html.ValidationMessageFor(x => x.fecharegistro, null, new { @class = "label label-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Estado:")
                        <br />
                        @Html.RadioButtonFor(x => x.estado, "A")<span> Activo</span>
                        @Html.RadioButtonFor(x => x.estado, "I")<span> Inactivo</span>
                        @Html.ValidationMessageFor(x => x.estado, null, new { @class = "label label-danger" })
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Grabar</button>
                        <a href="~/Asignacion" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
            </div>
            
        }
    </div>
</div>




