@model List<Sistema_MVC_Web2.Models.Actividad>
@{
    ViewBag.Title = "Index";
}

<div class="card">
    <h5 class="card-header">Lista de Evidencia Actividad</h5>
    <div class="card-body">
        <div class="text-right">
            <a href="~/Actividad/AgregarEditar/" class="btn btn-secondary text-right">
                Nuevo registro
            </a>
        </div>
        <br />

        <table id="example" class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Semestre</th>
                    <th>Criterio</th>
                    <th>Nombre Actividad</th>
                    <th>Descripcion </th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th style="width:250px">Acciones  </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var u in Model)
                {
                <tr>
                    <td>@(u.actividad_id)</td>
                    <td>@(u.Semestre.nombre)</td>
                    <td>@(u.Criterio.nombre_spanish)</td>
                    <td>@(u.nombre)</td>
                    <td>@(u.descripcion)</td>
                    <td>@(u.fecha)</td>
                    @if (u.estado == "A")
                    {
                        <td><span class="badge badge-success">Activo</span></td>
                    }
                    else
                    {
                        <td><span class="badge badge-danger">Inactivo</span></td>
                    }
                    <th style="align-content:center">
                        <a href="~/Actividad/Visualizar/@u.actividad_id" class="btn btn-xs btn-warning btn-sm">Visualizar</a>
                        <a href="~/Actividad/AgregarEditar/@u.actividad_id" class="btn btn-xs btn-primary btn-sm">Modificar</a>
                        <a href="~/Actividad/Eliminar/@u.actividad_id" class="btn btn-xs btn-danger btn-sm" onclick="return confirm('¿Esta Seguro de Eliminar.........?');">Eliminar</a>
                    </th>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
