@model Sistema_MVC_Web2.Models.EvidenciaCriterio
@{

   

    List<Sistema_MVC_Web2.Models.Criterio> criterio = new Sistema_MVC_Web2.Models.Criterio().Listar();
    List<SelectListItem> listCriterio = new List<SelectListItem>();

    foreach (var i in criterio)
    {
        SelectListItem one = new SelectListItem() { Text = i.nombre_spanish, Value = i.criterio_id.ToString() };
        listCriterio.Add(one);
    }



    ViewBag.Title = "AgregarEditar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Agregar / Editar</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/EvidenciaCriterio/Index">EvidenciaCriterio</a>
        </li>
       

    </ol>
</nav>

@using (Html.BeginForm("Guardar", "EvidenciaCriterio", FormMethod.Post, new { id = "frm-evidencia", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.evidencia_id)
    <div class="card">
        <div class="card-header">Informacion del evidencia </div>
        <div class="card-body">

            <div class="form-group">
                @Html.Label("Id")
                @Html.TextBoxFor(x => x.evidencia_id, new { @class = "form-control", disabled = true })
            </div>
            <div class="form-group">
                @Html.Label("Criterio")

                @Html.DropDownListFor(x => x.criterio_id, listCriterio, "Seleccione", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.criterio_id, null, new { @class = "text-danger" })
            </div>
          

            <div class="form-group">
                @Html.Label("archivo")
              
                    <img src="~/Archivos/@Model.archivo" height="70" width="70" />
                    @*@Html.HiddenFor(x => x.archivo)*@
              
                @*@Html.TextBoxFor(m => m.archivo, new { type = "file" })*@
                <input type="file" name="file" />

            </div>

            <div class="form-group">
                @Html.Label("Tamaño")
                @Html.TextBoxFor(x => x.tamanio, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.tamanio, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Label("Tipo")
                @Html.TextBoxFor(x => x.tipo, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.tipo, null, new { @class = "text-danger" })
            </div>

           
        </div>
    </div>

    <br />
    <br />

    <div class="text-right">

        <button type="submit" class="btn btn-primary">Grabar</button>
        <a href="~/EvidenciaCriterio" class="btn btn-danger">Cancelar</a>
    </div>
}
