@model Sistema_MVC_Web2.Models.EvidenciaCriterio
@{

    List<Sistema_MVC_Web2.Models.Criterio> criterio = ViewBag.Criterio;
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/EvidenciaCriterio/Index">Evidencia Actividad</a>
        </li>
        <li class="breadcrumb-item" active>

            @(Model.evidenciacriterio_id > 0 ? Model.descripcion : "Nuevo Registro")
        </li>

    </ol>
</nav>

<div class="card">
    <h5 class="card-header">Agregar / Editar Evidencia Actividad</h5>
    <div class="card-body">
        @using (Html.BeginForm("Guardar", "EvidenciaCriterio", FormMethod.Post, new { id = "frm-evidencia", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.evidenciacriterio_id)
            <div class="panel panel-default">
                <div class="panel-heading">
                    Informacion de Evidencia actividad
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.Label("Id")
                        @Html.TextBoxFor(x => x.evidenciacriterio_id, new { @class = "form-control", disabled = true })

                    </div>
                    <div class="form-group">
                        @Html.Label("Criterio:")
                        <select name="criterio_id" class="form-control" @*disabled="true"*@>
                            <option @(Model.criterio_id.Equals("") ? "selected" : "") value="">-Seleccione-</option>
                            @foreach (var a in criterio)
                            {
                                <option @(Model.criterio_id.Equals(a.criterio_id) ? "selected" : "") value="@a.criterio_id"> @a.nombre_spanish</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(x => x.criterio_id, null, new { @class = "label label-danger" })
                    </div>


                    @*<div class="form-group">
                            @Html.Label(" Archivo:")
                            @Html.TextBoxFor(x => x.archivo, new { @class = "form-control" })
                        </div>*@

                    <div class="form-group">
                        @Html.Label("Archivo")
                        @if (Model.criterio_id > 0)
                        {
                            <img src="~/Imagenes/@Model.archivo" height="80" width="80" />
                            @Html.HiddenFor(x => x.archivo)
                        }

                        <input type="file" name="file" />

                    </div>

                    @*<div class="form-group">
                            @Html.Label(" Tamaño:")
                            @Html.TextBoxFor(x => x.tamanio, new { @class = "form-control" })

                        </div>

                        <div class="form-group">
                            @Html.Label(" Tipo:")
                            @Html.TextBoxFor(x => x.tipo, new { @class = "form-control" })

                        </div>*@

                    <div class="form-group">
                        @Html.Label(" Descripcion:")
                        @Html.TextBoxFor(x => x.descripcion, new { @class = "form-control" })

                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="~/EvidenciaCriterio" class="btn btn-danger">Cancelar</a>
                    </div>

                </div>
            </div>

        }
    </div>
</div>

