@model Sistema_MVC_Web2.Models.EvidenciaCriterio
@{
    List<Sistema_MVC_Web2.Models.Criterio> criterio = ViewBag.Criterio;
}

@{
    ViewBag.Title = "AgregarEditar";
}

<h2>Agregar / Editar</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/EvidenciaCriterio/Index">Evidencia Criterio</a>
        </li>
        <li class="breadcrumb-item" active>
       
    </ol>

</nav>

@using (Html.BeginForm("Guardar", "EvidenciaCriterio", FormMethod.Post, new { id = "frm-usuario" }))
{
    @Html.HiddenFor(x => x.evidencia_id)
    <div class="card">
        <div class="card-header">Informacion de Usuario</div>
        <div class="card-body">
            <div class="form-group">
                @Html.Label("Id")
                @Html.TextBoxFor(x => x.evidencia_id, new { @class = "form-control", disabled = true })

            </div>

            <div class="form-group">
                <select name="Codigo_Profesion" class="form-control">
                    <option value=""> -- Seleccione --</option>
                    @foreach (var d in criterio)
                    {
                        <option @(Model.criterio_id.Equals(d.criterio_id)) value="@d.criterio_id">@d.nombre_spanish</option>
                    }
                </select>
            </div>

     


            <div class="form-group">
                @Html.Label("Avatar")
                @if (Model.evidencia_id > 0)
                {
                    <img src="~/Imagenes/@Model.archivo" height="80" width="80" />
                    @Html.HiddenFor(x => x.archivo)
                }
                <input type="file" name="file" />
            </div>


        </div>

    </div>
    <br />
    <div class="text-right">
        <button type="submit" class="btn btn-primary">Grabar</button>
        <a href="~/Usuario" class="btn btn-danger">Cancelar</a>
    </div>
}
