@model List<Sistema_MVC_Web2.Models.EvidenciaCriterio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="card" text-center>Gestion de Evidencia Criterio</h2>

<br />
<div class="text-right">
    <a href="~/EvidenciaCriterio/AgregarEditar/" class="btn btn-secondary text-right">Nuevo Registro</a>
</div>
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width:20px">Id</th>
            <th style="width:50px">Criterio Id</th>
            <th style="width:100px">Archivo</th>
            <th style="width:50px">Tipo</th>
            <th style="width:50px">Tamaño</th>

            <th style="width:300px">Acciones</th>


        </tr>
    </thead>

    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <th>@(s.evidencia_id)</th>
                <th>@(s.criterio_id)</th>
                <th>@(s.archivo)</th>
                <th>@(s.tipo)</th>
                <th>@(s.tamanio)</th>
           

                <th style="text-align:center;">
                    <a href="~/EvidenciaCriterio/Visualizar/@s.evidencia_id" class="btn btn-xs btn-warning">Visualizar</a>
                    <a href="~/EvidenciaCriterio/AgregarEditar/@s.evidencia_id" class="btn btn-xs btn-primary">Modificar</a>
                    <a href="~/EvidenciaCriterio/Eliminar/@s.evidencia_id" class="btn btn-xs btn-danger" onclick="return confirm('¿Estas seguro qu desea eliminar?');">Eliminar</a>
                </th>

            </tr>

        }

    </tbody>
</table>

