@model List<Sistema_MVC_Web2.Models.EvidenciaCriterio>

@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/Layout.cshtml";
}



<div class="card">
    <h5 class="card-header">Lista de Evidencia Criterio</h5>
    <div class="card-body">
        <div class="text-right">
            <a href="~/EvidenciaCriterio/AgregarEditar/" class="btn btn-primary text-right">Nuevo Registro</a>
        </div>
        <br />

        <table id="example" class="table table-hover">
            <thead>
                <tr>
                    <th style="width:20px">Id</th>
                    <th style="width:50px">Criterio Id</th>
                    <th style="width:100px">Archivo</th>
                    <th style="width:50px">Tipo</th>
                    <th style="width:50px">Tamaño</th>

                    <th style="width:250px">Acciones</th>


                </tr>
            </thead>

            <tbody>
                @foreach (var s in Model)
                {
                    <tr>
                        <td>@(s.evidencia_id)</td>
                        <td>@(s.criterio_id)</td>
                        <td>@(s.archivo)</td>
                        <td>@(s.tipo)</td>
                        <td>@(s.tamanio)</td>


                        <th style="text-align:center;">
                            <a href="~/EvidenciaCriterio/Visualizar/@s.evidencia_id" class="btn btn-xs btn-warning btn-sm">Visualizar</a>
                            <a href="~/EvidenciaCriterio/AgregarEditar/@s.evidencia_id" class="btn btn-xs btn-primary btn-sm">Modificar</a>
                            <a href="~/EvidenciaCriterio/Eliminar/@s.evidencia_id" class="btn btn-xs btn-danger btn-sm" onclick="return confirm('¿Estas seguro qu desea eliminar?');">Eliminar</a>
                        </th>

                    </tr>

                }

            </tbody>
        </table>

    </div>
</div>

